.header-container {
  height: 80px;
  padding: 0 50px;
  line-height: 40px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.content-container {
  padding: 50px 80px;
  /* height: 80%; */
  /* width: 80%; */
}
